/* 
    Document   : Main
    Created on : Feb 5, 2014, 3:20:01 PM
    Author     : se413006
    Description:
        Purpose of the stylesheet follows.
*/
.scene {
    background-color: black;
    
}
 .text-field{
   -fx-padding:12 0 12 0;
     -FX-width: 25px;
    -fx-font-size: 12px;
    -fx-text-fill: #0E1A26;
    
}
.label {
    -fx-font-size: 15px;
    -fx-padding:12 0 12 0;
    -fx-text-fill: white;
}
#borderPane{
    
    -fx-alignment:center;
}

#hBoxTop{
    -fx-alignment:center;
    
    
    
}

.root{
    
    
    -fx-background-color: #0E1A26;
}

.scroll-pane{
     -fx-paddign:0;
     -fx-background-color: #0E1A26;
    
}
/*
.slider *.thumb {
    -fx-background-color: transparent;
    -fx-background-radius: 0;
    -fx-background-insets: 0;
    -fx-padding: 84 53 0 0;
    -fx-background-image: url("thumb.png");
}

slider:hover *.thumb  {
    -fx-background-color: transparent;
    -fx-background-radius: 0;
    -fx-background-insets: 0;
    -fx-padding: 84 53 0 0;
    -fx-background-image: url("thumb.png");
   

}
*/
.chart-series-line {    
    -fx-stroke-width: 1px;
    -fx-stroke:#1ABC9C;
}

.default-color0.chart-bar { 
    -fx-bar-fill: #16A085; 
}

chart-content {
    -fx-padding: 0px;
     fx-border-color:white;
    
 }
 #rectL{
     
    -fx-background-color: #34495E; 
     
     
 } #rectR{
     
    -fx-background-color: #34495E; 
     
     
 }
 
 .chart-plot-background {
  -fx-background-color: #34495E;
}


.chart-vertical-grid-lines {
    -fx-stroke: transparent;
}

.chart-horizontal-grid-lines {
    -fx-stroke: transparent;
}
.chart-alternative-row-fill {
    -fx-fill: transparent;
    -fx-stroke: transparent;
    -fx-stroke-width: 0;
}

#loadWave{
    -fx-background-color:#4790CC;
    -fx-background-insets: 0,1,2,3;
    -fx-background-radius: 3,2,2,2;
    -fx-padding: 12 20 12 20;
    -fx-text-fill: white;
    -fx-font-size: 15px;
    }
    
 #loadWave:pressed{
    -fx-background-color:#175385;
    -fx-background-insets: 0,1,2,3;
    -fx-background-radius: 3,2,2,2;
    -fx-padding: 12 20 12 20;
    -fx-text-fill: white;
    -fx-font-size: 15px;
    }
#sinusoid {
    -fx-background-color:#E34E5D;
    -fx-background-insets: 0,1,2,3;
    -fx-background-radius: 3,2,2,2;
    -fx-padding: 12 20 12 20;
    -fx-text-fill: white;
    -fx-font-size: 15px;
}
#sinusoid:pressed {
    -fx-background-color:#941925;
    -fx-background-insets: 0,1,2,3;
    -fx-background-radius: 3,2,2,2;
    -fx-padding: 12 20 12 20;
    -fx-text-fill: white;
    -fx-font-size: 15px;
}

#waveFormPlay {
    -fx-background-color: #E3674E;
    -fx-background-insets: 0,1,2,3;
    -fx-background-radius: 3,2,2,2;
    -fx-padding: 12 20 12 20;
    -fx-text-fill: white;
    -fx-font-size: 15px;
}
#waveFormPlay:pressed {
    -fx-background-color: #942F19;
    -fx-background-insets: 0,1,2,3;
    -fx-background-radius: 3,2,2,2;
    -fx-padding: 12 20 12 20;
    -fx-text-fill: white;
    -fx-font-size: 15px;
}

#oscWave {
    
    -fx-background-color: #326151;
    
    -fx-background-radius: 2;
    -width:40px;
    -height:20px;
     
    -fx-text-fill: white;
    -fx-font-size: 15px
    }
#oscWave:pressed {
    
    -fx-background-color: #103F2F;
    -fx-background-radius: 2;
    -width:40px;
    -height:20px;
     
    -fx-text-fill: white;
    -fx-font-size: 15px
    }

.slider .thumb {
     -fx-padding: 15px 20px 15px 30px ;
    -fx-background-color: #1ABC9C;
    -fx-background-radius: 2;
    
   
}

.slider .thumb:pressed {
     -fx-padding: 15px 20px 15px 30px ;
    -fx-background-color: #1ABC9C;
    -fx-background-radius: 2;
   -fx-effect: dropshadow( gaussian , blanchedalmond , 4,0,0,0 );
}

.slider .track {
    -fx-border-width: 3px;
    -fx-background-insets: 1 0 -1 0, 0, 1;
    -fx-background-radius: 1;
    
    -fx-background-color: #7F8C8D;
    -fx-border-color: #7F8C8D;
    
}

.adsrSlider .slider .thumb{
     -fx-padding: 10px 13px;
    -fx-background-color: #E67E22;
    -fx-background-radius: 4;
    
}

.adsrSlider .slider .thumb:pressed {
     
   -fx-effect: dropshadow( gaussian , blanchedalmond , 2,0,0,0 );
}
.adsrSlider .slider .track {
    -fx-border-width: 1px;
    -fx-background-insets: 1 0 -1 0, 0, 1;
    -fx-background-radius: 1;
    -fx-background-color: #7F8C8D;
    -fx-border-color: #7F8C8D;
    
}